body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(255, 242, 225);
  align-items: center;
}

.imagenCafe {
  margin-left: 1%;
  margin-right: 5%;
  padding: 0%;
}

.row {
  width: 100%;
}

.contenedor {
  padding: 0%;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  margin-left: 15%;
  margin-right: 15%;
}

@media (max-width: 768px) {
  .contenedor {
    margin-left: 3%;
    margin-right: 3%;
  }
}
.botonProd {
  color: #ffffff;
  background-color: #333;
  border: #333;
}

.divContacto {
  background-color: rgb(255, 228, 196);
  margin: 0%;
  padding: 5%;
}

.formMarg {
  padding: 10%;
  margin-top: 15%;
  margin-bottom: 15%;
}

.h2Servicios {
  background-color: rgb(255, 228, 196);
}

.h2Titulo {
  padding-top: 10%;
  padding-bottom: 1%;
  font-size: 3dvh;
}

.card-body {
  background-color: rgb(255, 228, 196);
}

.card {
  max-width: 30%;
  align-items: center;
  margin-left: 7%;
}

.ProductosCard {
  justify-content: center;
  border: #333 solid 3px;
  border-radius: 3%;
  margin-bottom: 2%;
  padding: 3%;
  background-color: bisque;
}

.ProductosCard img {
  border-radius: 15px;
}

.ProductosCard h5 {
  margin-top: 3%;
}

.divFooter {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

footer {
  border-top: #333 solid 10px;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

header {
  background-color: rgb(255, 242, 225);
  color: rgb(0, 0, 0);
}

@media (max-width: 480px) {
  .headTitle {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  .headTitle {
    font-size: 45px;
  }
}
@media (min-width: 769px) {
  .headTitle {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .headTitle {
    font-size: 65px;
  }
}
.pLocales {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  font-size: 120%;
}

.map-right {
  margin-left: 30%;
}

@media (max-width: 768px) {
  .map-right {
    width: 150px;
    height: 120px;
    margin-right: 3%;
  }
}
@media (min-width: 769px) {
  .map-right {
    width: 250px;
    height: 230px;
  }
}
@media (min-width: 1000px) {
  .map-right {
    width: 450px;
    height: 350px;
  }
}
.map-left {
  margin-right: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
}

@media (max-width: 768px) {
  .map-left {
    width: 150px;
    height: 120px;
    margin-left: 3%;
  }
}
@media (min-width: 769px) {
  .map-left {
    width: 250px;
    height: 230px;
  }
}
@media (min-width: 1000px) {
  .map-left {
    width: 450px;
    height: 350px;
  }
}
.bg-maps {
  border-radius: 3%;
  background-color: rgb(255, 228, 196);
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar {
  background-color: rgb(255, 242, 225);
  text-align: justify;
}

@media (max-width: 768px) {
  .logoNav {
    width: 11vw;
  }
}
@media (min-width: 768px) {
  .logoNav {
    width: 90px;
  }
}
.Textos {
  background-color: rgb(255, 228, 196);
}

.h2Main {
  margin-top: 7%;
  margin-left: 5%;
  padding: 0%;
  font-size: 7dvh;
}

@media (max-width: 768px) {
  .h2Main {
    font-size: 30px;
  }
}
.pMain {
  margin-bottom: 1%;
  margin-left: 5%;
  padding-top: 1%;
  font-size: 3dvh;
}

@media (max-width: 768px) {
  .pMain {
    font-size: 18px;
  }
}
.botonMain {
  margin-left: 5%;
  margin-bottom: 7%;
  color: rgb(0, 0, 0);
  background-color: transparent;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 768px) {
  .botonMain {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .botonMain {
    font-size: 22px;
  }
}
.botonMain:hover {
  background-color: rgb(106, 186, 255);
  border-color: #333;
}

.divQuienesSomos {
  background-color: rgb(255, 228, 196);
}

.h2DivQuienes {
  margin-top: 7%;
  margin-left: 5%;
  padding: 0%;
  font-size: 7dvh;
}

@media (max-width: 768px) {
  .h2DivQuienes {
    font-size: 30px;
  }
}
.pDiv {
  margin-bottom: 2%;
  margin-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 3dvh;
}

@media (max-width: 768px) {
  .pDiv {
    font-size: 18px;
  }
}
.pQuienesSomos {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  padding: 3%;
}

@media (max-width: 768px) {
  .pQuienesSomos {
    font-size: 15px;
  }
}
.fondoTextos {
  background-color: rgba(255, 228, 196, 0.562);
  border-radius: 5%;
}

.textContL {
  font-size: 125%;
  padding: 5%;
  color: rgb(207, 0, 0);
}

@media (max-width: 768px) {
  .textContL {
    font-size: 15px;
  }
}
.textContD {
  font-size: 125%;
  padding: 5%;
  color: rgb(207, 0, 0);
}

@media (max-width: 768px) {
  .textContD {
    font-size: 15px;
  }
}
.imgSNLL {
  border: #333 solid 5px;
  border-radius: 40px;
  padding: 3%;
  background-image: url(../img/cafeteria-blur.jpg);
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.imgSND {
  border: #333 solid 5px;
  border-radius: 40px;
  padding: 3%;
  background-image: url(../img/cafe-maquinasSND.jpg);
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.imgSNL {
  border: #333 solid 5px;
  border-radius: 40px;
  padding: 3%;
  background-image: url(../img/Cafe-tiendaBlur.jpg);
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.textosContacto {
  margin-top: 12%;
}

.textUbiL {
  font-size: 23px;
}

@media (max-width: 550px) {
  .textUbiL {
    font-size: 11px;
  }
}
@media (min-width: 768px) {
  .textUbiL {
    font-size: 10px;
  }
}
@media (min-width: 769px) {
  .textUbiL {
    font-size: 20px;
  }
}
@media (min-width: 1000px) {
  .textUbiL {
    font-size: 26px;
  }
}
.textUbiD {
  font-size: 23px;
}

@media (max-width: 550px) {
  .textUbiD {
    font-size: 11px;
  }
}
@media (min-width: 768px) {
  .textUbiD {
    font-size: 10px;
  }
}
@media (min-width: 769px) {
  .textUbiD {
    font-size: 20px;
  }
}
@media (min-width: 1000px) {
  .textUbiD {
    font-size: 26px;
  }
}

/*# sourceMappingURL=main.css.map */
