
/* NAVBAR */

/* PRIMEROS TEXTOS Y TITULOS */

/* CARRUSEL DE IMAGENES */

/* ROW */

/* TEXTOS ACERCA DE QUIENES SOMOS */

/* CARTAS DE SERVICIOS */

/* FOOTER */

/* SOBRE NOSOTROS HTML */

/* Textos y imagenes del main */
.pQuienesSomos {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-size: 120%;
}
.fondoTextos {
    background-color: rgba(255, 228, 196, 0.562);
    border-radius: 5%;
}
/* CAJAS DE IMAGENES */
.contenedor {
    padding: 0%;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
.imgSNL {
    border: #333 solid 5px;
    border-radius: 40px;
}
.imgSND {
    border: #333 solid 5px;
    border-radius: 40px;
}
.bordeImagenes {
    border-radius: 8%;
    width: 35%;
    height: 35%;
}
.textContL {
    font-size: 125%;
    padding: 5%;
}
.textContD {
    font-size: 125%;
    padding: 5%;
}

/* HTML PRODUCTOS */
.ProductosCard {
    border: #333 solid 3px;
    border-radius: 3%;
    margin-left: 20%;
    margin-bottom: 2%;
    padding: 3%;
    background-color: bisque;
}
.ProductosCard img {
    border-radius: 15px;
}
.ProductosCard h5 {
    margin-top: 3%;
}
.botonProd {
    color: #ffffff;
    background-color: #333;
    border: #333;
}
/* UBICACION */
.pLocales {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-size: 120%;
}
.map-right {
    margin-left: 30%;
}
.map-left {
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.bg-maps {
    border-radius: 3%;
    background-color: rgb(255, 228, 196);
    padding-top: 1%;
    padding-bottom: 1%;
}
/* CONTACTO DEL INDEX Y DEL HTML */
.divContacto {
    background-color: rgb(255, 228, 196);
    border-radius: 100px;
    margin: 0%;
    padding: 5%;
}
.textosContacto {
    margin-top: 12%;
}
.formMarg {
    padding: 10%;
    margin-top: 15%;
    margin-bottom: 15%;
}