body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(255, 242, 225);
    align-items: center;
}
header {
    background-color: rgb(255, 242, 225);
    color: black;
}
footer {
    border-top: #333 solid 10px;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}
/* NAVBAR */
.navbar {
    background-color: rgb(255, 242, 225);
    text-align: justify;
}
/* PRIMEROS TEXTOS Y TITULOS */
.Textos {
    background-color: rgb(255, 228, 196);
}
.h2Main {
    margin-top: 7%;
    margin-left: 5%;
    padding: 0%;
    font-size: 7dvh;
}
.pMain {
    margin-bottom: 1%;
    margin-left: 5%;
    padding-top: 1%;
    font-size: 3dvh;
}
.botonMain{
    margin-left: 5%;
    margin-bottom: 7%;
    color: rgb(0, 0, 0);
    background-color: transparent;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 150%;
}
.botonMain:hover {
    background-color: rgb(106, 186, 255);
    border-color: #333;
}
/* CARRUSEL DE IMAGENES */
.imagenCafe {
    margin-left: 1%;
    margin-right: 5%;
    padding: 0%;
}
/* ROW */
.row {
    width: 100%;
}
/* TEXTOS ACERCA DE QUIENES SOMOS */
.divQuienesSomos {
    background-color: rgb(255, 228, 196);
}
.h2DivQuienes {
    margin-top: 7%;
    margin-left: 5%;
    padding: 0%;
    font-size: 7dvh;
}
.pDiv {
    margin-bottom: 2%;
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 3dvh;
}
/* CARTAS DE SERVICIOS */
.h2Servicios {
    background-color: rgb(255, 228, 196);
}
.h2Titulo {
    text-align: center;
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 1%;
    font-size: 3dvh;
}
.card-body {
    background-color: rgb(255, 228, 196);
}
.card {
    max-width: 30%;
    align-items: center;
    margin-left: 7%;
}
/* FOOTER */
.divFooter {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* SOBRE NOSOTROS HTML */

/* Textos y imagenes del main */
.pQuienesSomos {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-size: 120%;
}
.fondoTextos {
    background-color: rgba(255, 228, 196, 0.562);
    border-radius: 5%;
}
/* CAJAS DE IMAGENES */
.contenedor {
    padding: 0%;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
.imgSNL {
    border: #333 solid 5px;
    border-radius: 40px;
}
.imgSND {
    border: #333 solid 5px;
    border-radius: 40px;
}
.bordeImagenes {
    border-radius: 8%;
    width: 35%;
    height: 35%;
}
.textContL {
    font-size: 125%;
    padding: 5%;
}
.textContD {
    font-size: 125%;
    padding: 5%;
}

/* HTML PRODUCTOS */
.ProductosCard {
    border: #333 solid 3px;
    border-radius: 3%;
    margin-left: 20%;
    margin-bottom: 2%;
    padding: 3%;
    background-color: bisque;
}
.ProductosCard img {
    border-radius: 15px;
}
.ProductosCard h5 {
    margin-top: 3%;
}
.botonProd {
    color: #ffffff;
    background-color: #333;
    border: #333;
}
/* UBICACION */
.pLocales {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-size: 120%;
}
.map-right {
    margin-left: 30%;
}
.map-left {
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.bg-maps {
    border-radius: 3%;
    background-color: rgb(255, 228, 196);
    padding-top: 1%;
    padding-bottom: 1%;
}
/* CONTACTO DEL INDEX Y DEL HTML */
.divContacto {
    background-color: rgb(255, 228, 196);
    border-radius: 100px;
    margin: 0%;
    padding: 5%;
}
.textosContacto {
    margin-top: 12%;
}
.formMarg {
    padding: 10%;
    margin-top: 15%;
    margin-bottom: 15%;
}