@mixin fondo-y-borde {
    background-color: $secondaryColor;
    border: $bg-color3 solid 5px;
    border-radius: 40px;
    padding: 3%;
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }  
body {
    margin: 0%;
    padding: 0%;
    background-color: $mainColor;
    align-items: center;

    .imagenCafe {
        margin-left: 1%;
        margin-right: 5%;
        padding: 0%;
    }

    .row {
        width: 100%;
    }
}
.contenedor {
    padding: 0%;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

.botonProd {
    color: $optionalColor;
    background-color: $bg-color3;
    border: #333;
    cursor: pointer;
}

.divContacto {
    background-color: $secondaryColor;
    margin: 0%;
    padding: 5%;

    .formMarg {
        padding: 10%;
        margin-top: 15%;
        margin-bottom: 15%;
    }

    .bg-prod {
        background-color: $secondaryColor;
    }

    .h2Servicios {
        background-color: $secondaryColor;
    }
}
.h2Titulo {
    padding-top: 10%;
    padding-bottom: 1%;
    font-size: 3dvh;

    .card-body {
        background-color: $secondaryColor;
    }

    .card {
        max-width: 30%;
        align-items: center;
        margin-left: 7%;
    }
}
.ProductosCard {
        justify-content: center;
        border: $bg-color3 solid 3px;
        border-radius: 3%;
        margin-bottom: 2%;
        padding: 3%;
        background-color: $secondaryColor;

        img {
            border-radius: 15px;
        }

        h5 {
            margin-top: 3%;
        }
    }

    .h2Servicios {
        background-color: $secondaryColor;
    }


.pLocales {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-size: 120%;
}

.map-right {
    margin-left: 30%;
}

.map-left {
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.bg-maps {
    border-radius: 3%;
    background-color: $secondaryColor;
    padding-top: 1%;
    padding-bottom: 1%;
}

.navbar {
    background-color: $mainColor;
    text-align: justify;
}

.Textos {
    background-color: $secondaryColor;
}

.h2Main {
    margin-top: 7%;
    margin-left: 5%;
    padding: 0%;
    font-size: 7dvh;
}

.pMain {
    margin-bottom: 1%;
    margin-left: 5%;
    padding-top: 1%;
    font-size: 3dvh;

    @media (max-width: 768px) {
        font-size: 18px;
    }
}

.botonMain {
    margin-left: 5%;
    margin-bottom: 7%;
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom, #d3d3d3, #777777, #1f1f1f);
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    &:hover {
        background-color: $bg-color-buttom;
        border-color: $bg-color3;
    }
}

.divQuienesSomos {
    background-color: $secondaryColor;
}

.h2DivQuienes {
    margin-top: 7%;
    margin-left: 5%;
    padding: 0%;
    font-size: 7dvh;
}

.pDiv {
    margin-bottom: 2%;
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 3dvh;
}

.pQuienesSomos {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    padding: 3%;
}

.fondoTextos {
    background-color: rgba(255, 228, 196, 0.562);
    border-radius: 5%;
}

.textContL {
    font-size: 30px;
    padding: 5%;
    color: rgb(255, 255, 255);
}
@media (max-width: 550px) {
    .textContL {
        font-size: 10px;
    }
}
@media (min-width: 551px) {
    .textContL {
        font-size: 15px;
    }
}
@media (min-width: 1000px) {
    .textContL {
        font-size: 30px;
    }
}
.textContD {
    font-size: 30px;
    padding: 5%;
    color: rgb(255, 255, 255);
}
@media (max-width: 550px) {
    .textContD {
        font-size: 10px;
    }
}
@media (min-width: 551px) {
    .textContD {
        font-size: 15px;
    }
}
@media (min-width: 1000px) {
    .textContD {
        font-size: 30px;
    }
}
.imgSNLL {
    @include fondo-y-borde;
    background-image: url(../img/cafeteria-blur.jpg);
}

.imgSND {
    @include fondo-y-borde;
    background-image: url(../img/cafe-maquinasSND.jpg);
}

.imgSNL {
    @include fondo-y-borde;
    background-image: url(../img/Cafe-tiendaBlur.jpg);
}

.textosContacto {
    margin-top: 12%;
}

.textUbiL {
    font-size: 23px;
}
@media (max-width: 550px) {
    .textUbiL {
        font-size: 11px;
    }
}
@media (min-width: 768px) {
    .textUbiL {
        font-size: 14px;
    }
}

@media (min-width: 769px) {
    .textUbiL {
        font-size: 20px;
    }
}

@media (min-width: 1000px) {
    .textUbiL {
        font-size: 26px;
    }
}

.textUbiD {
    font-size: 23px;
}
@media (max-width: 550px) {
    .textUbiD {
        font-size: 11px;
    }
}
@media (min-width: 768px) {
    .textUbiD {
        font-size: 14px;
    }
}

@media (min-width: 769px) {
    .textUbiD {
        font-size: 20px;
    }
}

@media (min-width: 1000px) {
    .textUbiD {
        font-size: 26px;
    }
}

footer {
    background-color: rgb(255, 242, 225);
    border-top: #333 solid 10px;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
  
    .divFooter {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    }
}

.prod-Prod {
    justify-content: center;
    border: $bg-color3 solid 3px;
    border-radius: 3%;
    margin: auto;
    padding: 3%;
    background-color: $secondaryColor;

    img {
        border-radius: 15px;
    }

    h5 {
        margin-top: 3%;
    }
}
//404 html
.body404 {
    background-image: url(../img/Fondo404.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bg-div {
    margin-top: 10%;
}
.error-container {
    padding-left: 0%;
    border-radius: 10px;
    text-align: center;
}
.error-container h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    margin-top: 55px;
}
.bg-div a {
    text-decoration: none;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 1.5em;
    margin-left: 30%;
    margin-right: 30%;
}
.bg-div a:hover {
    background-color: #383838;
}
.navbar404 {
    background-color: transparent;
}
@media (max-width: 768px) {
    .body404 {
        background-image: url(../img/gato-768px.jpg);
    }
    .error-container h2 {
        font-size: 25px;
        color: rgb(0, 0, 0);
    }
    .error-container .btn-98 {
        font-size: 16px;
    }
}
