.h2Servicios {
    background-color: rgb(255, 228, 196);
}
.h2Titulo {
    text-align: center;
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 1%;
    font-size: 3dvh;
}
.card-body {
    background-color: rgb(255, 228, 196);
}
.card {
    max-width: 30%;
    align-items: center;
    margin-left: 7%;
}