header {
    background-color: rgb(255, 242, 225);
    color: rgb(0, 0, 0);
}

@media (max-width: 480px) {
    .headTitle {
        font-size: 25px;
    }
}
@media (min-width: 768px) {
    .headTitle {
        font-size: 45px;
    }
}
@media (min-width: 769px) {
    .headTitle {
        font-size: 50px;
    }
}
@media (min-width: 1200px) {
    .headTitle {
        font-size: 65px;
    }
}