.pLocales {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-size: 120%;
}
.map-right {
    margin-left: 30%;
}
@media (max-width: 768px){
    .map-right {
        width: 150px;
        height: 120px;
        margin-right: 3%;
    }
}
@media (min-width: 769px){
    .map-right {
        width: 250px;
        height: 230px;
    }
}
@media (min-width: 1000px){
    .map-right {
        width: 450px;
        height: 350px;
    }
}
.map-left {
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}
@media (max-width: 768px){
    .map-left {
        width: 150px;
        height: 120px;
        margin-left: 3%;
    }
}
@media (min-width: 769px){
    .map-left {
        width: 250px;
        height: 230px;
    }
}
@media (min-width: 1000px){
    .map-left {
        width: 450px;
        height: 350px;
    }
}
.bg-maps {
    border-radius: 3%;
    background-color: rgb(255, 228, 196);
    padding-top: 1%;
    padding-bottom: 1%;
}