.pLocales {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-size: 120%;
}
.map-right {
    margin-left: 30%;
}
.map-left {
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.bg-maps {
    border-radius: 3%;
    background-color: rgb(255, 228, 196);
    padding-top: 1%;
    padding-bottom: 1%;
}