.navbar {
    background-color: rgb(255, 242, 225);
    text-align: justify;
}
@media (max-width: 768px) {
    .logoNav {
        width: 11vw;
    }
}
@media (min-width: 768px) {
    .logoNav {
        width: 90px;
    }
}
